@using OnlineGame.Web3.Models;
@model  IEnumerable<Team>
@{ 
    ViewBag.Title = "Teams List";
}

<h2>@ViewBag.Title.ToString()</h2>
@foreach (Team team in Model)
{ 
<ul>
    <li>
        Id: @team.Id
    </li>
    <li>
        @Html.ActionLink(team.Name, "Index", "Gamer", new { teamId = team.Id }, null);
    </li>
</ul>
}
